body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #fff;
    color: #222;
}

header {
    background: #000;
    color: #fff;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: #fff;
    margin: 0 8px;
    text-decoration: none;
}

.hero {
    background: #111;
    height: 80vh;
    color: white;
    text-align: center;
    padding-top: 150px;
}

.btn {
    background: gold;
    padding: 12px 25px;
    color: black;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 60px;
    text-align: center;
}

footer {
    background: #000;
    color: #fff;
    text-align: center;
    padding: 15px;
}
